<h1 class="speaker-name">{{ speaker.speakerName  }}</h1>
<h4>
    <a target="blank" href="https://www.torahanytime.com/#/speaker?l={{ speaker.speakerid }}">
        View {{ speaker.speakerName  }}'s page on TorahAnytime
    </a>
</h4>
<div class="speaker-image"><img src="{{ speaker.speakerimage }}" alt=""></div>
<div class="feed-links">
    <a class="rss-feed-link" href="/speakers/{{ speaker.speakerid }}/rss" target="_blank" rel="noopener noreferrer">

        <svg style="width:24px;height:24px;color:green" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M6.18,15.64A2.18,2.18 0 0,1 8.36,17.82C8.36,19 7.38,20 6.18,20C5,20 4,19 4,17.82A2.18,2.18 0 0,1 6.18,15.64M4,4.44A15.56,15.56 0 0,1 19.56,20H16.73A12.73,12.73 0 0,0 4,7.27V4.44M4,10.1A9.9,9.9 0 0,1 13.9,20H11.07A7.07,7.07 0 0,0 4,12.93V10.1Z" />
        </svg></a>
</div>
<div>
    {{#each lectures}}
    <div class="lecture">
        <h4>{{ lectureTitle }}</h4>
        <div>{{ date  }}</div>
        <div class="play-links">
            <span class="watch-link"><a href="https://www.torahanytime.com/#/lectures?v={{ video_id }}"
                    target="blank">Watch</a></span>
            <span class="listen-link"><a href="https://www.torahanytime.com/#/lectures?a={{ video_id }}"
                    target="blank">Listen</a></span>
        </div>
    </div>
    {{/each}}
</div>